*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root
{
  --bz-dark-gray: #b1b1b1;
  --bz-gray: #d9dbd5;
  --bz-gray-light: #eaebeb;
  --bz-gray-ligther: #fbfbfa;
  --bz-white: white;
  --bz-sand: #f3eeea;
  --bz-dark: #000;
  --bz-sky: #8fdafd;
  --bz-dark-green: #019689;
  --bz-green: #d5f9ba;
  --bz-light-accent: #8edafc ;
}
body{
    background-image: linear-gradient(to bottom, var(--bz-dark-green) 0, var(--bz-dark-green) 140px, var(--bz-gray) 140px, var(--bz-gray) 100%);
    overflow: hidden;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

}
main{
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

a{
    text-decoration: none;
}

#app{
    background-color: aliceblue;
    width: 80%;
    height: 100%;
}








/* left side */
.admin{
    background-color: var(--bz-gray-light);
    justify-content: space-between;
    align-items: center;
}

.admin_info{
    justify-content: center;
    align-items: center;
}

.admin_tools{
    justify-content: center;
    align-items: center;
    color: var(--bz-dark-gray);
    padding: 0 0.5rem;
}

.stories,
.new_chat,
.settings{
    padding: 0.5rem;
}

.alert{
    background-color: var(--bz-light-accent);
    align-items: center;
}

.alert > i{
    background-color: var(--bz-gray-ligther);
    color: var(--bz-sky) ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.alert_info > a{
    text-decoration: underline;
    color: var(--bz-dark-gray);
}


.search_bar{
    background-color:var(--bz-gray-ligther) ;
    height: 50px;
    width: 100%;
    padding: 0.5rem;
}

.search_bar >input{
    width: 100%;
    height: 40px;
    border: 1px solid var(--bz-gray-light);
    border-left: none;
}
.btn_search{
    width: 70px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--bz-dark-gray) ;
    background-color: var(--bz-white);
    border: 1px solid var(--bz-gray-light);
}
.chat_list{
    background-color: var(--bz-white);
    height: 100%;
    overflow-y: auto;
}
.prew_user{
    padding: 0.5rem;
    transition: all 0.2s;
}
.prew_user:hover{
    background-color: var(--bz-gray-light);
}

.active_chat{
    background-color: var(--bz-gray-light);
}
.ora{
    margin-left: auto;
}



/* right side */
.chat{
    flex-direction: column;
    height: 100%;
}

.top{
    background-color: var(--bz-gray-light) ;
    padding: 0 0.5rem;
    align-items: center;
}

.chat_preview{
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
    overflow-y: scroll ;
    padding:  3rem ;
    padding-bottom: 0;
}


.messages{
    flex-direction: column;
}

.wrapper{
    word-wrap: break-word;
}
.received,
.sent
{
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    max-width: 500px ;
}

.received
{
    align-self: flex-start;
    background-color: var(--bz-white);
}

.sent{
    align-self: flex-end;
    background-color: var(--bz-green);

}


.bot{
    background-color: var(--bz-sand) ;
}





/* right top side */
.user_in_chat{
    width: 100%;
    align-items: center;
}

.user_tools{
    align-items: center;
    color: var(--bz-dark-gray);
}

.search,
.attach,
.settings{
    padding: 0.5rem;
}

.prew_img{
    width: 50px;
    border-radius: 50%;
    margin: 0.5rem;
}





/* right bot side */
.chat_input{
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.emoji{
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
.text{
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.chat_input >
.text >
input{
    width: 100%;
    height: 40px;
    border: none;
    padding: 1rem 0.5rem;
    border-radius: 5px;
}

.vocal{
    padding: 1rem;
    justify-content: center;
    align-items: center;
}











/* utility */

[class^="col"] {
    padding: 0;
}

.row{
    display: flex;
}
.left_side{
    background-color: rgb(104, 49, 49);
    flex-direction: column;
    width: calc(100% / 12 * 4);
}
.right_side{
    background-color: rgb(67, 67, 138);
    height: 100%;
    width: calc(100% / 12 * 8);
}

.d-flex{
    display: flex;
}
.img-flow{
    border-radius: 50%;
}